<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>This is an default index.html site</title>
</head>
<body>
    <h1>Oh, hai there!</h1>
    <p>
        without any kind of encryption
    </p>
</body>
</html>
