server {
    listen 80;
    listen [::]:80;
    
    server_name __DOMAINS__;
    return 301 https://www.__DOMAIN__$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name __DOMAIN__;

    ssl_certificate     /var/www/__DOMAIN__/ssl/__DOMAIN__.crt;
    ssl_certificate_key /var/www/__DOMAIN__/ssl/__DOMAIN__.key;

    return 301 https://www.__DOMAIN__$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name www.__DOMAIN__;

    access_log  /var/log/nginx/__DOMAIN__/__DOMAIN__.access.log;

    ssl_certificate     /var/www/__DOMAIN__/ssl/__DOMAIN__.crt;
    ssl_certificate_key /var/www/__DOMAIN__/ssl/__DOMAIN__.key;

    root /var/www/__DOMAIN__/html;
    index index.html;
}
